{
  "root": true,

  "ignorePatterns": ["jest.config.ts", "data/*"],

  "overrides": [
    {
      "files": ["**/*.js"],
      "env": { "node": true },
      "extends": ["airbnb-base"]
    },
    {
      "files": ["src/**/*.ts", "src/**/*.d.ts", "typings/*.d.ts"],
      "env": { "node": true },
      "plugins": ["@typescript-eslint"],
      "extends": ["airbnb-base", "airbnb-typescript/base"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "project": "tsconfig.json"
      },
      "rules": {
        "import/no-cycle": 0,
        "no-bitwise": 0
      }
    },
    {
      "files": ["tests/**/*.test.ts"],
      "env": { "jest": true, "node": true },
      "plugins": ["@typescript-eslint", "jest"],
      "extends": ["airbnb-base", "airbnb-typescript/base", "plugin:jest/all"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "project": "tsconfig.jest.json"
      },
      "rules": {
        "jest/no-hooks": ["error", { "allow": ["beforeAll", "afterAll"] }]
      }
    }
  ]
}
